@model TechTest.Models.UserModel

@{
    ViewData["Title"] = "Detalle";
}

<h1>Details</h1>

<div>
    <h4>UserModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonSex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonSex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonDisDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonDisDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonModDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonModDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PersonId">Editar</a> |
    <a asp-action="Index">Voler a la Lista</a>
</div>
